
CONFIG VCCAUX=3.3;
NET "CLK" LOC = P24;
NET "CLK" PERIOD = 125ns;


NET "CLK" IOSTANDARD = LVCMOS33;
NET "REF_CLK" IOSTANDARD = LVCMOS33;
NET "SPI_EXT_CS" IOSTANDARD = LVCMOS33;
NET "SPI_EXT_MOSI" IOSTANDARD = LVCMOS33;
NET "SPI_EXT_SCK" IOSTANDARD = LVCMOS33;
NET "SPI_INT_CS" IOSTANDARD = LVCMOS33;
NET "SPI_INT_MOSI" IOSTANDARD = LVCMOS33;
NET "SPI_INT_SCK" IOSTANDARD = LVCMOS33;
NET "MOD_EN" IOSTANDARD = LVCMOS33;
NET "SPI_EXT_MISO" IOSTANDARD = LVCMOS33;
NET "SELIQ" IOSTANDARD = LVCMOS33;
NET "DORI" IOSTANDARD = LVCMOS33;
NET "SPI_INT_MISO" IOSTANDARD = LVCMOS33;
NET "I[11]" IOSTANDARD = LVCMOS33;
NET "I[10]" IOSTANDARD = LVCMOS33;
NET "I[9]" IOSTANDARD = LVCMOS33;
NET "I[8]" IOSTANDARD = LVCMOS33;
NET "I[7]" IOSTANDARD = LVCMOS33;
NET "I[6]" IOSTANDARD = LVCMOS33;
NET "I[5]" IOSTANDARD = LVCMOS33;
NET "I[4]" IOSTANDARD = LVCMOS33;
NET "I[3]" IOSTANDARD = LVCMOS33;
NET "I[2]" IOSTANDARD = LVCMOS33;
NET "I[1]" IOSTANDARD = LVCMOS33;
NET "I[0]" IOSTANDARD = LVCMOS33;
NET "Q[11]" IOSTANDARD = LVCMOS33;
NET "Q[10]" IOSTANDARD = LVCMOS33;
NET "Q[9]" IOSTANDARD = LVCMOS33;
NET "Q[8]" IOSTANDARD = LVCMOS33;
NET "Q[7]" IOSTANDARD = LVCMOS33;
NET "Q[6]" IOSTANDARD = LVCMOS33;
NET "Q[5]" IOSTANDARD = LVCMOS33;
NET "Q[4]" IOSTANDARD = LVCMOS33;
NET "Q[3]" IOSTANDARD = LVCMOS33;
NET "Q[2]" IOSTANDARD = LVCMOS33;
NET "Q[1]" IOSTANDARD = LVCMOS33;
NET "Q[0]" IOSTANDARD = LVCMOS33;
NET "SW2_CTL[2]" IOSTANDARD = LVCMOS33;
NET "SW2_CTL[1]" IOSTANDARD = LVCMOS33;
NET "SW2_CTL[0]" IOSTANDARD = LVCMOS33;
NET "SW1_CTL[2]" IOSTANDARD = LVCMOS33;
NET "SW1_CTL[1]" IOSTANDARD = LVCMOS33;
NET "SW1_CTL[0]" IOSTANDARD = LVCMOS33;
NET "LED[4]" IOSTANDARD = LVCMOS33;
NET "LED[3]" IOSTANDARD = LVCMOS33;
NET "LED[2]" IOSTANDARD = LVCMOS33;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[0]" IOSTANDARD = LVCMOS33;


NET "REF_CLK" LOC = P23;
NET "SPI_EXT_CS" LOC = P30;
NET "SPI_EXT_MOSI" LOC = P33;
NET "SPI_EXT_SCK" LOC = P21;
NET "SPI_INT_CS" LOC = P35;
NET "SPI_INT_MOSI" LOC = P15;
NET "SPI_INT_SCK" LOC = P17;

NET "MOD_EN" LOC = P11;
NET "SELIQ" LOC = P10;
NET "SPI_EXT_MISO" LOC = P32;
NET "SPI_INT_MISO" LOC = P16;
NET "I[11]" LOC = P142;
NET "I[10]" LOC = P141;
NET "I[9]" LOC = P140;
NET "I[8]" LOC = P139;
NET "I[7]" LOC = P138;
NET "I[6]" LOC = P137;
NET "I[5]" LOC = P134;
NET "I[4]" LOC = P133;
NET "I[3]" LOC = P132;
NET "I[2]" LOC = P131;
NET "I[1]" LOC = P127;
NET "I[0]" LOC = P126;
NET "Q[11]" LOC = P124;
NET "Q[9]" LOC = P121;
NET "Q[7]" LOC = P119;
NET "Q[8]" LOC = P120;
NET "Q[6]" LOC = P118;
NET "Q[5]" LOC = P117;
NET "Q[4]" LOC = P116;
NET "Q[3]" LOC = P115;
NET "Q[2]" LOC = P114;
NET "Q[1]" LOC = P112;
NET "Q[0]" LOC = P111;
NET "SW1_CTL[0]" LOC = P1;
NET "SW1_CTL[1]" LOC = P2;
NET "SW1_CTL[2]" LOC = P5;
NET "SW2_CTL[2]" LOC = P8;
NET "SW2_CTL[0]" LOC = P6;
NET "SW2_CTL[1]" LOC = P7;
NET "LED[4]" LOC = P80;
NET "LED[3]" LOC = P79;
NET "LED[2]" LOC = P78;
NET "LED[1]" LOC = P75;
NET "LED[0]" LOC = P74;
NET "Q[10]" LOC = P123;
NET "DORI" LOC = P9;

# PlanAhead Generated physical constraints 

NET "CLK_DAC_N" LOC = P143;
NET "CLK_DAC_P" LOC = P144;

# PlanAhead Generated IO constraints 

NET "CLK_DAC_N" IOSTANDARD = DIFF_SSTL3_II;
NET "CLK_DAC_P" IOSTANDARD = DIFF_SSTL3_II;
